.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--header {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    &--flex-row {
        flex-direction: row;
        padding-top: 2em;
        padding-bottom: 2em;

        @mixin atMedium {
            padding-top: 4em;
            padding-bottom: 4em;
        }
    }

    &--flex-column {
        flex-direction: column;
        padding-top: 2em;
        padding-bottom: 2em;
    }
}