.site-header {
  max-width: 1920px;
  margin: 0 auto;
  display: block;
  padding: 0.25rem 0;

  &__logo {
    max-width: 100px;
  }

  &__menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--vissible {
      flex-direction: column;
      position: absolute;
      background: rgba($mainBlue, 0.8);
      width: 100%;
      top: 4em;
      right: 0;
      z-index: 10;
    }
  }

  &__nav-menu {
    display: none;
    nav {
      a {
        color: $darkGray;
        padding: 0 1em;

        @mixin atExLarge {
          padding: 0 2em;
        }
      }
    }

    &--vissible {
      display: block;
      z-index: 10;
      align-self: stretch;

      nav {
        a {
          display: block;
          text-align: right;
          padding: 1.25em;
          color: #fff;
          border-bottom: 0.01em solid #fff;
        }
      }
    }

    @mixin atMedium {
      display: unset;
    }
  }

  &__btns {
    display: none;

    &--vissible {
      display: unset;
      z-index: 10;
      display: flex;
      padding: 1em;
      align-self: flex-end;

      .btn {
        padding: 0.5em 1.25em;
      }
    }

    @mixin atLarge {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__menu-icon {
    width: auto;
    height: auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    position: absolute;
    right: 1em;

    &::before {
      content: "";
      width: 25px;
      height: 4px;
      background-color: $mainBlue;
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
    }

    &__hamburger {
      width: 25px;
      height: 4px;
      background-color: $mainBlue;
      margin: 4px 0;
      transform-origin: 0 50%;
      transition: all 0.3s ease-out;
    }

    &::after {
      content: "";
      width: 25px;
      height: 4px;
      background-color: $mainBlue;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    &--close-x {
      &::before {
        transform: rotate(45deg) scaleX(1);
      }

      .site-header__menu-icon__hamburger {
        opacity: 0;
        transform: scaleX(0);
      }

      &::after {
        transform: rotate(-45deg) scaleX(1);
      }
    }

    @mixin atMedium {
      display: none;
    }
  }
}
