.testimonials {
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid rgba($mainGray, 0.5);

  &__bg {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    clip-path: inset(50% 0 0 0);
    background-color: rgba(#0c12f5, 0.05);
    z-index: -1;
  }

  .author {
    padding: 0 1em;
    margin: 2em auto;
    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin: 0 auto;
      margin-top: -1em;
    }
    p {
      margin-top: 1em;
    }
    span {
      font-weight: 700;
      font-style: italic;
      color: #000;
    }
  }

  &__container {
    width: 80%;
    height: auto;
    margin-top: 4em;

    @mixin atMedium {
      width: 70%;
      display: flex;
      justify-content: center;
    }

    .testimonial {
      width: 100%;
      margin: 0 auto;
      cursor: pointer;
      margin-bottom: 0.5em;
      overflow: hidden;
      height: 30px;
      background-color: #e9e9e9;
      border: 1px solid $darkGray;
      border-radius: 0.5em;

      .card__text,
      .author {
        opacity: 0;
      }

      @mixin atMedium {
        width: 10%;
        height: 350px;
        overflow: hidden;
        margin: 0.15em;
      }

      &--active {
        width: 100%;
        height: auto;
        transform: scale(1.1);
        background-color: white;
        border-radius: 0;
        border: unset;
        transition: transform 0.75s ease-out;

        .card__text,
        .author {
          opacity: 1;
          transition: opacity 0.75s ease-out;
        }
      }
    }
  }
}
