.user-stories {
  max-width: 1920px;
  position: relative;
  margin: 0 auto;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: inset(50% 0 0 0);
    background-color: rgba(#0c12f5, 0.05);
    z-index: -1;
  }

  .btn--no-bg {
    margin: 0 auto;
    width: 140px;
    margin-top: 1em;

    a {
      margin: 0 auto;
    }
  }
}
